<footer>
    <div class="centerdiv">
    <div id="page-choice" class="page-choice close">
        <a href="/budget" class="block inline-button button-dark">
            <span class="center gold">Budget</span>
        </a>
        <a href="/expenses" class="block inline-button button-dark">
            <span class="center gold">Expenses</span>
        </a>
        <a href="/networth" class="block inline-button button-dark">
            <span class="center gold">Net Worth</span>
        </a>
        <a href="/savings" class="block inline-button button-dark">
            <span class="center gold">Savings</span>
        </a>
        <a href="/income" class="block inline-button button-dark">
            <span class="center gold">Income</span>
        </a>
        <a href="/admin" class="block inline-button button-dark">
            <span class="center gold">Administration</span>
        </a>
    </div>
    <button id="menu-button" class="inline-button button-dark">
        <h3 class="center gold">^</h3>
    </button>
    </div>
</footer>
